* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif";
}
body {
  background-color: rgba(255, 253, 253, 0.965);
}

.tempat-navigasi {
  background-color: #e8951a;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

.tempat-navigasi-con {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tempat-navigasi-con-gambar {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tempat-navigasi-con-gambar1 {
  width: 100%;
  /* background-color: aqua; */
  margin-bottom: -40px;
  margin-top: -40px;
  margin-left: -100px;
}

.tempat-navigasi-con-konten {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -100px;
}

.tempat-navigasi-con-konten-list {
  /* background-color: rebeccapurple; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > a {
  color: maroon;
  font-weight: 600;
}

.menu > a.amenu:hover {
  background-color: maroon;
  color: white;
  border-radius: 5px;
}

.menu > a.shop-bag:hover {
  background-color: rgb(242, 255, 2);
  color: white;
  border-radius: 5px;
}
.menu-except > a:hover {
  transform: scale(1.2);
}

.medsos-icon-img {
  /* background-color: red; */
  height: 30px;
  width: 30px;
}

.button-navigasi-handphone {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.pembayaran {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10vh;
}

.pembayaran-konten {
  /* background-color: lightcoral; */
  width: 47.5%;
}

.pembayaran-konten-2 {
  /* background-color: lightgreen; */
  width: 47.5%;
}

.informasi-pelanggan {
  /* background-color: lightskyblue; */
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 50px #9a9898;
  padding-bottom: 20px;
}

.header-biodata {
  background-color: #e8951a;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px 4px 0px;
}

.header-biodata p{
  font-size: medium;
  font-weight: 600 ;
  margin-bottom: -1px;
}

.footer-biodata {
  background-color: #e8951a;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-biodata p{
  margin: 4px 0px 5px 0px;
  font-weight: 600;
  font-size: medium;
}

.input-control {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.alamat-pengiriman {
  /* background-color: lightsalmon; */
  border-radius: 10px;
  box-shadow: 2px 2px 50px #9a9898;
  padding-bottom: 20px;
}

.Ringkasan-pemesanan {
  /* background-color: lightgray; */
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 50px #9a9898;
}

.pilih-metode-pengiriman {
  /* background-color: darkkhaki; */
  box-shadow: 2px 2px 50px #9a9898;
  border-radius: 10px;
}

.input-control-metode-pembayaran {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-pembayaran-kotak {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-pembayaran {
  /* background-color: wheat; */
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}

.logo-pembayaran {
  height: 25px;
}

#tabel-cart {
  /* background-color: red; */
  width: auto;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabel-cart-tabel {
  /* background-color: #e8951a; */
  width: 90%;
  /* margin-left: 40px;
    margin-right: 40px; */
}

.gambar-produk {
  width: 100px;
  border-radius: 5px;
}

td {
  text-align: center;
}

.judul-shop {
  width: 100%;
  background-color: aquamarine;
  padding-left: 50px;
}

.a-Bayar-sekarang {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.Bayar-sekarang {
  background-color: red;
  width: 100%;
}

.logo-close {
  width: 50px;
}

.konten-cart-isi-handphone {
  /* background-color: aquamarine; */
  display: flex;
  width: 100%;
}

.konten-cart-informasi {
  padding-left: 5px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* font-size: 15px; */
}
.konten-cart-informasi .konten-cart-informasi2 {
  padding-left: 5px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
}

.konten-cart-informasi .konten-cart-informasi3 {
  padding-left: 5px;
  margin: 3px 0px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 15px;
}

.remove-handphone {
  /* background-color: blue; */
  justify-content: right;
}

.logo-close-handphone {
  width: 20px;
}

.td-handphone {
  display: flex;
}

.td-button-handphone {
  background-color: #e8951a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.Bayar-sekarang-handphone {
  background-color: #e8951a;
}

.input-control.succes input {
  border: 2px solid lightgreen;
}

.input-control.error input {
  border: 2px solid lightcoral;
}

.input-control .error {
  color: red;
  font-size: 15px;
  height: 13px;
}

/* footer */

.choose-store:hover {
  transform: scale(1.1);
}

.choose-store {
  width: 150px;
  height: 50px;
  background-color: wheat;
  font-size: large;
  color: maroon;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
